* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: black;
  color: white;
}

.bright-mode {
  background-color: white;
  color: black;
}