* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: black;
  color: white;
}

.bright-mode {
  background-color: white;
  color: black;
}

.navbar .active {
  background-color: rgb(236, 97, 46);
  /* Change to your desired active background color */
  color: white;
  padding: 3px;
  letter-spacing: 5px;
  transform: translate(3px);
  transition: ease;
}

.links .active {
  text-decoration: none;

  background-color: none;
  letter-spacing: 2px;
  padding: 2px;
  border-left: solid blue 2px;
}

@media screen and (max-width:480px) {
  .links .active {
    text-decoration: none;

    background-color: none;
    border: none;
    letter-spacing: 2px;
    padding: 2px;
    border-bottom: solid blue 2px;
  }
}



/* Style for normal link */


/* Style for targeted link (matching the id in the URL) */
a:target {
  color: orange;
  /* Change link color when targeted */
  text-decoration: underline;
  /* Underline when targeted */
}